@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --font-heading: Mondwest, ui-serif, serif;
    --font-body: Departure Mono, ui-monospace, monospace;
    --text-base: 14px;
    --section-padding-block: 24rem;
    --section-padding-inline: 12rem;
}

html {
    color-scheme: dark;
}

* {
    @apply border-gray-800;
}

html,
body {
    @apply text-gray-400 bg-black font-body text-base min-h-screen;
    font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
}

body {
    max-width: 1200px;
    @apply mx-auto border-l border-r;
}

p {
    @apply text-gray-400;
}

a {
    @apply hover:text-lime-300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading text-white;
}

h1 {
    @apply text-6xl;
}

h2 {
    @apply text-6xl;
}

h3 {
    @apply text-4xl;
}

h4,
h5,
h6 {
    @apply text-2xl;
}

ul,
ol {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.375em;
}

li > ul,
li > ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

li:first-child {
    margin-top: 0;
}

li:last-child {
    margin-bottom: 0;
}

.using-mouse * {
    outline: none !important;
}

.pixel-art {
    image-rendering: pixelated; /* Future-proof */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: crisp-edges;
}

.ligatures {
    font-variant-ligatures: discretionary-ligatures;
}

@utility section-px {
    @apply px-4 sm:px-8 md:px-16 lg:px-[120px];
}

@utility section-py {
    @apply px-12 py-24 lg:px-[120px] scroll-mt-20;
}

.section {
    @apply section-px section-py;
}

@font-face {
    font-family: "Mondwest";
    src:
        url("/fonts/Mondwest-Regular.woff2") format("woff2"),
        url("/fonts/Mondwest-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Departure Mono";
    src:
        url("/fonts/DepartureMono-Regular.woff2") format("woff2"),
        url("/fonts/DepartureMono-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
