<Files "llms.txt">
    AddType text/plain .txt
    AddCharset UTF-8 .txt
</Files>

RewriteEngine On
RewriteCond %{HTTP_REFERER} !^https://eulervoid\.com [NC]
RewriteCond %{HTTP_REFERER} !^https://www\.eulervoid\.com [NC]
RewriteRule ^assets/.*\.(woff|woff2)$ - [F]
